@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Orbitron',sans-serif;
    font-size: 30px;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2,15,32);
    text-align: center;
    flex-direction: column;
}
section .clock{
    color: cyan;
}
.format{
    color: aquamarine;
    margin-top: 30px;
    font-size: 24px;
}
.format button{
    padding: 10px 20px;
    border: none;
    outline: none;
    font-family: 'Orbitron';
    margin: 10px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}